body {
  background: #242B6E;
  position: absolute;
  width: 100px;
  height: 10px;
}

.mediana[src="img/PrevLogoDrafts_FuenteADEFT.png"]{
  background-size: cover;
  position: absolute;
  width: 300px;
  height: 100px;
  left: 100px;
  top: 5px;
  
}
.mediana[src="img/LetraParqueaAlInstante_FuenteEASTONE.png"]{
  background-size: cover;
  position: absolute;
  width: 260px;
  height: 100px;
  left: 570px;
  top: 5px;
  
}
.pequeña[src="img/lupa2.png"]{
  position: absolute;
  width: 30px;
  height: 30px;
  left: 1040px;
  top: 128px;
}
.pequeña[src="img/BarritasLaterales.png"]{
  position: absolute;
  width: 110px;
  height: 110px;
  left: 20px;
  top: 105px;
}
.pequeña[src="img/IconoCompartirWhite.png"]{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 1050px;
  top: 75px;
}  
.pequeña[src="img/IconoFacebookWhite.png"]{
  position: absolute;
  width: 30px;
  height: 30px;
  left: 1075px;
  top: 70px;
} 
.pequeña[src="img/IconoInstagramWhite.png"]{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 1110px;
  top: 75px;
} 
.mediana[src="img/parkingSignal.png"]{
  position: absolute;
  width: 126px;
  height: 128px;
  left: 1225px;
  top: 170px;
}
h2 {
  position: absolute;
  left: 1080px;
  top: 0px;
  font-family: "ABeeZee";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
}
.login [type="text"] {
  position: absolute;
  width: 150px;
  height: 15px;
  left: 1140px;
  top: 15px;
  color: #ffffff;
}
.login [type="password"] {
  position: absolute;
  width: 150px;
  height: 15px;
  left: 1140px;
  top: 45px;
  color: #ffffff;
}  
.login [type="submit"] {
  position: absolute;
  font-family: "Swis721_hv_bt";
  background:#2184E8;
  border: none;
  color: #fff;
  left: 1140px;
  top: 75px;
  
}
.login [type="submit"]:hover {
  cursor: pointer;
  background: white;
  color: #000;
}
.login a {
  position: absolute;
  left: 1140px;
  top: 95px;
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: white;
}

.login a:hover {
  color:darkgrey;

}
.reservar{
  background: #fff;
  position: absolute;
  width: 1356px;
  height: 40px;
  left: 0px;
  top: 125px;
  text-align: center;
}
.reservar .HE {
  font-family:'Swis721_hv_bt';
  position: absolute;
  width: 50px;
  height: 25px;
  left: 125px;
  top: 0px;
  color: #000000;
}
.reservar .HE [type="time"] {
  position: absolute;
  width: 120px;
  height: 25px;
  left: 70px;
  top: 5px;
  background: #CCCBCB;
}
.reservar .HS {
  font-family:'Swis721_hv_bt';
  position: absolute;
  width: 50px;
  height: 25px;
  left: 340px;
  top: 0px;
  color: #000000;
}
.reservar .HS [type="time"] {
  position: absolute;
  width: 120px;
  height: 25px;
  left: 70px;
  top: 5px;
  background: #CCCBCB;
}
.reservar .FE {
  font-family:'Swis721_hv_bt';
  position: absolute;
  width: 50px;
  height: 25px;
  left: 560px;
  top: 0px;
  color: #000000;
}
.reservar .FE [type="date"] {
  position: absolute;
  width: 120px;
  height: 25px;
  left: 70px;
  top: 5px;
  background: #CCCBCB;
}
.reservar .FS {
  font-family:'Swis721_hv_bt';
  position: absolute;
  width: 50px;
  height: 25px;
  left: 780px;
  top: 0px;
  color: #000000;
}
.reservar .FS [type="date"] {
  position: absolute;
  width: 120px;
  height: 25px;
  left: 70px;
  top: 5px;
  background: #CCCBCB;
}
.reservar [type="submit"] {
  position: absolute;
  width: 180px;
  height: 29px;
  left: 1120px;
  top: 6px;
  background:black;
  color: #fff;
}
.reservar [type="submit"]:hover {
  cursor: pointer;
  background:#ffffff;
  color:black;
}  

.imagenfondo{
  background-image: url(img/ParqueoCarroRojo.jpg);
  position: absolute;
  background-size: cover;
  width: 1356px;
  height: 450px;
  left: 0px;
  top: 166px;
}
